- content_for(:head) do
  %style{type: 'text/css'}
    \ body {background-color: ##{@color_info[:pixel][:hex]};}

  %script{type: 'text/javascript'}
    Color.Current.data = #{@color_info.to_json};
    (function($) {$(document).ready(function() {Color.Current.start();});})(jQuery);


#color_result
  .content_box.c
    .colors.c
      #pixel_result.color_result
        .box{style: "background-color: ##{@color_info[:pixel][:hex] rescue nil}"}
        #pixel_hex_result.color_hex ##{@color_info[:pixel][:hex]}
        %abbv{title: t.pages.index.pixel.avg}= t.pages.index.pixel.avg_abbv
      #dominant_result.color_result
        .box{style: "background-color: ##{@color_info[:dominant][:hex] rescue nil}"}
        #dominant_hex_result.color_hex ##{@color_info[:dominant][:hex]}
        %abbv{title: t.pages.index.dominant.avg}= t.pages.index.dominant.avg_abbv
    #color_result_details.color_details
      #color_result_count= number_to_delimiter(@color_info[:count])
      %abbv{title: t.pages.index.details.pages}= t.pages.index.details.pages_abbv
      %br
      .time
        = t.pages.index.details.time.as_of
        %time#color_result_time{datetime: @color_info[:cached_at].to_s}= @color_info[:cached_at].strftime('%b %e, %Y %l:%M:%S%P %Z')
        = t.pages.index.details.time.updated_at