- color = @color_stream[0] rescue nil

- content_for(:head) do
  - unless color.blank?
    %style{type: 'text/css'}
      \ body {background-color: ##{@color_stream[0][:pixel][:hex]};}

  %script{type: 'text/javascript'}
    Color.Stream.data = #{@color_stream.to_json};
    (function($) {$(document).ready(function() {Color.Stream.start();});})(jQuery);


#color_result
  .content_box.c
    #color_web_page.color_details
      #color_web_page_url.to.nw= color[:page][:url] rescue nil
      %abbv{title: t.pages.stream.details.pages}= t.pages.stream.details.pages_abbv
    .colors.c
      #pixel_result.color_result
        .box{style: "background-color: ##{color[:pixel][:hex] rescue nil}"}
        #pixel_hex_result.color_hex ##{color[:pixel][:hex] rescue nil}
        %abbv{title: t.pages.stream.pixel.avg}= t.pages.stream.pixel.avg_abbv
      #dominant_result.color_result
        .box{style: "background-color: ##{color[:dominant][:hex] rescue nil}"}
        #dominant_hex_result.color_hex ##{color[:dominant][:hex] rescue nil}
        %abbv{title: t.pages.stream.dominant.avg}= t.pages.stream.dominant.avg_abbv
